body {
    font-family: sans-serif;
    background-image: url(./bg.png);
    background-size: auto;
    background-position-x: center;
    padding: 0;
    margin: 0;
}

#topbar {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}

#welcomeopen {
    cursor: pointer;
    margin-left: 1em;
}

#time {
    margin-right: 1em;
}

.window {
    border: medium solid grey;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    color: white;
    background-color: black;
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    user-select: none;
    display: flex;
    justify-content: space-between;
    cursor: grab;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.25);
    margin: 0;
}

.close {
    cursor: pointer;
    margin-right: 0.5em;
    background-color: red;
    padding: 0.1em;
    border-radius: 100%;
    width: 1.3em;
    height: 1.3em;
    text-align: center;
}

#icon {
    width: 10em;
    height: 10em;
    border-radius: 5%;
    object-fit: cover;
    padding: 0.25em;
}

#desktopApps {
    padding-top: 64px;
    padding-left: 16px;
}

.desktopApp {
    text-align: center;
    padding: 16px;
    width: fit-content;
    cursor: pointer;
}

.icon {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: solid black 0.2em;
}

.selected {
    filter: drop-shadow(0 0 8px black);
}

#pocketwatch {
    display: none;
    text-align: center;
}

#pocketwatch img {
    width: 30em;
    height: 30em;
}

.hand {
    height: 0.2em;
    background: black;
    position: absolute;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

#hour-hand {
    width: 5em;
    top: 63.5%;
    left: 33%;
}

#minute-hand {
    width: 7em;
    top: 63.5%;
    left: 26%;
}

#second-hand {
    width: 9em;
    top: 64%;
    left: 19.5%;
}